@{
	Layout = null;
}

@model ReservationSearchSummaryViewModel

<div class="search_guest_result">
<h2>Guest details</h2>
<table class="">
<tr>
<td>
	Name
</td>
<td>
	@Model.GuestDetails.Name
</td>
</tr>
<tr>
<td>
	Reservation number
</td>
<td>
	@Model.ReservationId
</td>
</tr>
<tr>
<td>
	Checkin date
</td>
<td>
	@Model.ReservationDetails.CheckinDate.ToString("d MMMM yyyy")
</td>
</tr>
<tr>
<td>
	Checkout date
</td>
<td>
	@Model.ReservationDetails.CheckoutDate.ToString("d MMMM yyyy")
</td>
</tr>
<tr>
<td>
	RoomType
</td>
<td>
	@Model.ReservationDetails.RoomTypeId
</td>
</tr>
<tr>
<td>
	Status
</td>
<td>
	@Model.ReservationDetails.Status
</td>
</tr>
<tr>
<td colspan="2">
<form action="/Reservation/Checkin">
	<input type="hidden" name="ReservationId" value="@Model.ReservationId" />
	<input type="submit" value="Check in" @Html.Raw(Model.ReservationDetails.CanCheckin?"":"disabled='disabled'") />
</form>
</td>
</tr>
</table>
</div>