<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
	<script type="text/javascript" src="/Scripts/jquery-2.0.1.js"></script>
	<script type="text/javascript" src="/Scripts/jquery-ui-1.10.3.js"></script>
	<script type="text/javascript" src="/Scripts/loader.js"></script>

	<script type="text/javascript" src="/Scripts/main.js"></script>
	
	<link rel="stylesheet" href="/Content/themes/base/jquery-ui.css" />
	<link rel="stylesheet" href="/Content/Site.css" />
	@RenderSection("css", false)
	@RenderSection("javascript", false)
</head>
<body>
	<div class="select_active_date">
		Now: @DateContextHelper.Now()<br />
		Set current date: <input type="text" class="current_date_selector" data-datecookiename="@DateContextHelper.DateCookieName"  value="@DateContextHelper.Now().ToString("d")" /><br />
		Set current time: <input type="text" class="current_time_selector" data-timecookiename="@DateContextHelper.TimeCookieName"  value="@DateContextHelper.TimeOverride" />
	</div>
    <div class="centerer">
        @RenderBody()
    </div>
	@foreach(var sect in ViewBag.HttpProcessingPipelineContext.RenderSections()) {
		@Html.Raw(sect.Value)
	}
</body>
</html>
